/*-- scss:defaults --*/

// fonts
//@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Nunito+Sans:wght@200&family=Roboto+Mono:wght@300&family=Sanchez&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Nunito:wght@300;800&family=Roboto+Mono:wght@300;400&family=Sanchez&display=swap');

// Fonts (CSS rules)
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-serif: 'Sanchez', serif; 
//$font-family-sans-serif: 'Montserrat', sans-serif;
$font-family-monospace: 'Roboto Mono', monospace;

// Colors
$baby-blue: #d2e3f3;
$teal: #047C90;
$dark-blue: #003660;
$white: #FFFFFF;
$green: #78A540; 
$magenta: #900C3F;
$white: #FFFFFF;
$off-white: #F7F7F7; 
$gray: #ADADAD; 

// scss variables
$presentation-title-slide-text-align: "left";
//$presentation-font-size-root: 23px;
$body-bg: $white;
$link-color: $green; 
$code-color: $magenta;
$code-bg: $white;
$code-block-font-size: 0.4em;
$code-block-bg: $off-white;

/*-- scss:rules --*/

// HTML selectors //

strong, b {
  font-weight: 900; // does not change weight?
  color: $teal;
}

th {
font-size: 35px;  
}

td {
  font-size: 20px;
}

hr { // horizontal line
  border: 4px solid $dark-blue;
  border-radius: 5px;
  margin-bottom: 30px;
}


.hr-teal { // horizontal line
  border: 4px solid $teal;
}

.br-smaller { // smaller break
  line-height: 6px;
}

// Class selectors //

.custom-title { 
  font-family: $font-family-serif;
  color: $baby-blue;
  font-size: 1.7em;
  //position: absolute; 
  left: 20px; 
}

.custom-subtitle { 
  font-family: $font-family-sans-serif;
  color: $baby-blue;
  font-size: 1.2em;
  //font-weight: 600;
  //position: absolute; 
  left: 20px; 
}

.custom-subtitle2 { 
  font-family: $font-family-sans-serif;
  color: $baby-blue;
  font-size: 1em;
  //position: absolute; 
  left: 20px; 
}

.custom-subtitle3 { 
  font-family: $font-family-sans-serif;
  color: $baby-blue;
  font-size: 0.7em;
  //position: absolute; 
  left: 20px; 
}

.title-footer { 
  text-align: center !important;
  color: $baby-blue;
  font-size: 0.5em !important;
}

.slide-title {
  font-family: $font-family-serif;
  color: $teal;
  font-size: 1.4em;
  font-weight: 700;
}

.slide-title-smaller {
  font-family: $font-family-serif;
  color: $teal;
  font-size: 1.3em;
  font-weight: 700;
}

.slide-title-smallest {
  font-family: $font-family-serif;
  color: $teal;
  font-size: 1.1em;
  font-weight: 700;
}

.large-body-text {
  font-family: $font-family-sans-serif;
  color: $teal;
  font-size: 1em;
}

.medium-body-text {
  font-size: 25px;
	line-height: 1.7em;
	margin-bottom: 1em;
}

.body-text {
	font-size: 23px;
	line-height: 1.7em;
	margin-bottom: 1em;
}

.smaller-body-text{
  font-size: 21px;
	line-height: 1.7em;
	margin-bottom: 1em;
}

.center-text{
  text-align: center;
}

.caption-text {
  font-size: 19px;
	line-height: 1.7em;
}

.baby-blue-text {
  color: $baby-blue;
}

.gray-text {
  color: $gray;
}

.important-text-bg {
  background-color: rgba(217, 178, 189, 0.5); 
  padding-top: 5px; 
  padding-bottom: 5px; 
  padding-right: 5px; 
  padding-left: 8px; 
  border-radius: 25px;
}

.blue-underline { 
  text-decoration: underline $dark-blue;
  text-underline-offset: 10px; // https://developer.mozilla.org/en-US/docs/Web/CSS/text-underline-offset
  text-decoration-thickness: 4px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.page-center {
  //padding: 70px 0;
  line-height: 700px;
  text-align: center;
}

 .topbr {
    display: block;
    margin-top: 1em;
}

 .bottombr {
    display: block;
    margin-bottom: 1em;
}

.panel-tabset {
  font-size: 30px;
}
